USE [master]
GO
/****** Object:  Database [MecafabFinal]    Script Date: 27/06/2025 14:15:50 ******/
CREATE DATABASE [MecafabFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MecafabFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MecafabFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MecafabFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MecafabFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MecafabFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MecafabFinal]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 27/06/2025 14:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_razon_social] [varchar](150) NOT NULL,
	[documento] [varchar](20) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](100) NULL,
	[direccion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobanteEntrega]    Script Date: 27/06/2025 14:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteEntrega](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NOT NULL,
	[fecha_generacion] [datetime] NOT NULL,
	[contenido] [text] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[usuario_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPedido]    Script Date: 27/06/2025 14:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[orden_logico] [int] NOT NULL,
	[es_final] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEstadoPedido]    Script Date: 27/06/2025 14:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEstadoPedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NOT NULL,
	[estado_anterior_id] [int] NOT NULL,
	[estado_nuevo_id] [int] NOT NULL,
	[fecha_cambio] [datetime] NOT NULL,
	[usuario_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 27/06/2025 14:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NULL,
	[descripcion_producto] [text] NOT NULL,
	[tipo_trabajo] [varchar](100) NOT NULL,
	[fecha_solicitud] [date] NOT NULL,
	[fecha_entrega_comprometida] [date] NOT NULL,
	[fecha_entrega_real] [date] NULL,
	[estado_id] [int] NOT NULL,
	[cliente_id] [int] NOT NULL,
	[operario_asignado_id] [int] NULL,
	[usuario_creador_id] [int] NOT NULL,
	[fecha_registro] [datetime] NULL,
	[es_entregado] [bit] NOT NULL,
	[fecha_entrega_confirmada] [date] NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 27/06/2025 14:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/06/2025 14:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[clave] [varchar](255) NOT NULL,
	[rol_id] [int] NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id], [nombre_razon_social], [documento], [telefono], [correo], [direccion]) VALUES (1, N'Cliente Alpha S.A.', N'20511111111', N'987654321', N'alpha@cliente.com', N'Av. Lima 123')
INSERT [dbo].[Cliente] ([id], [nombre_razon_social], [documento], [telefono], [correo], [direccion]) VALUES (2, N'Cliente Beta SAC', N'20522222222', N'912345678', N'beta@cliente.com', N'Jr. Cusco 456')
INSERT [dbo].[Cliente] ([id], [nombre_razon_social], [documento], [telefono], [correo], [direccion]) VALUES (3, N'Juan Pérez García', N'12345678', N'912345678', N'juan.perez@example.com', N'Av. Arequipa 1234, Lima')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[ComprobanteEntrega] ON 

INSERT [dbo].[ComprobanteEntrega] ([id], [pedido_id], [fecha_generacion], [contenido], [tipo], [usuario_id]) VALUES (1, 3, CAST(N'2025-06-13T00:53:51.690' AS DateTime), N'BASE64-COMPROBANTE-MOCK-ENTREGA', N'PDF', 1)
INSERT [dbo].[ComprobanteEntrega] ([id], [pedido_id], [fecha_generacion], [contenido], [tipo], [usuario_id]) VALUES (2, 11, CAST(N'2025-06-13T01:33:18.767' AS DateTime), N'COMPROBANTE-ENTREGA-PDF', N'PDF', 1)
INSERT [dbo].[ComprobanteEntrega] ([id], [pedido_id], [fecha_generacion], [contenido], [tipo], [usuario_id]) VALUES (3, 12, CAST(N'2025-06-13T01:39:58.173' AS DateTime), N'COMPROBANTE-ENTREGA-PDF', N'PDF', 1)
SET IDENTITY_INSERT [dbo].[ComprobanteEntrega] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoPedido] ON 

INSERT [dbo].[EstadoPedido] ([id], [nombre], [orden_logico], [es_final]) VALUES (1, N'Registrado', 1, 0)
INSERT [dbo].[EstadoPedido] ([id], [nombre], [orden_logico], [es_final]) VALUES (2, N'En Producción', 2, 0)
INSERT [dbo].[EstadoPedido] ([id], [nombre], [orden_logico], [es_final]) VALUES (3, N'Listo para Entregar', 3, 0)
SET IDENTITY_INSERT [dbo].[EstadoPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialEstadoPedido] ON 

INSERT [dbo].[HistorialEstadoPedido] ([id], [pedido_id], [estado_anterior_id], [estado_nuevo_id], [fecha_cambio], [usuario_id]) VALUES (1, 2, 1, 2, CAST(N'2025-06-13T00:53:51.690' AS DateTime), 1)
INSERT [dbo].[HistorialEstadoPedido] ([id], [pedido_id], [estado_anterior_id], [estado_nuevo_id], [fecha_cambio], [usuario_id]) VALUES (2, 3, 1, 2, CAST(N'2025-06-10T00:53:51.690' AS DateTime), 1)
INSERT [dbo].[HistorialEstadoPedido] ([id], [pedido_id], [estado_anterior_id], [estado_nuevo_id], [fecha_cambio], [usuario_id]) VALUES (3, 3, 2, 3, CAST(N'2025-06-11T00:53:51.690' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[HistorialEstadoPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([id], [codigo], [descripcion_producto], [tipo_trabajo], [fecha_solicitud], [fecha_entrega_comprometida], [fecha_entrega_real], [estado_id], [cliente_id], [operario_asignado_id], [usuario_creador_id], [fecha_registro], [es_entregado], [fecha_entrega_confirmada], [fecha_modificacion]) VALUES (1, N'PED-202306-001', N'Pieza metálica A', N'Torno CNC', CAST(N'2025-06-13' AS Date), CAST(N'2025-06-17' AS Date), CAST(N'2025-06-13' AS Date), 4, 1, 2, 1, CAST(N'2025-06-13T00:53:51.687' AS DateTime), 1, CAST(N'2025-06-13' AS Date), CAST(N'2025-06-13T01:46:33.120' AS DateTime))
INSERT [dbo].[Pedido] ([id], [codigo], [descripcion_producto], [tipo_trabajo], [fecha_solicitud], [fecha_entrega_comprometida], [fecha_entrega_real], [estado_id], [cliente_id], [operario_asignado_id], [usuario_creador_id], [fecha_registro], [es_entregado], [fecha_entrega_confirmada], [fecha_modificacion]) VALUES (2, N'PED-202306-002', N'Soporte estructural', N'Fresadora', CAST(N'2025-06-13' AS Date), CAST(N'2025-06-15' AS Date), CAST(N'2025-06-13' AS Date), 4, 2, 2, 1, CAST(N'2025-06-13T00:53:51.687' AS DateTime), 1, CAST(N'2025-06-13' AS Date), CAST(N'2025-06-13T01:47:51.227' AS DateTime))
INSERT [dbo].[Pedido] ([id], [codigo], [descripcion_producto], [tipo_trabajo], [fecha_solicitud], [fecha_entrega_comprometida], [fecha_entrega_real], [estado_id], [cliente_id], [operario_asignado_id], [usuario_creador_id], [fecha_registro], [es_entregado], [fecha_entrega_confirmada], [fecha_modificacion]) VALUES (3, N'PED-202306-003', N'Eje de acero', N'Corte láser', CAST(N'2025-06-13' AS Date), CAST(N'2025-06-12' AS Date), CAST(N'2025-06-13' AS Date), 4, 1, 2, 1, CAST(N'2025-06-13T00:53:51.687' AS DateTime), 1, CAST(N'2025-06-13' AS Date), CAST(N'2025-06-13T01:49:22.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id], [nombre]) VALUES (1, N'Jefe')
INSERT [dbo].[Rol] ([id], [nombre]) VALUES (2, N'Operario')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [nombre], [correo], [clave], [rol_id], [estado]) VALUES (1, N'Jefe Maestro', N'jefe@uni.edu.pe', N'clave123', 1, 1)
INSERT [dbo].[Usuario] ([id], [nombre], [correo], [clave], [rol_id], [estado]) VALUES (2, N'Carlos Gamarra', N'gamarra@uni.edu.pe', N'clave123', 2, 1)
INSERT [dbo].[Usuario] ([id], [nombre], [correo], [clave], [rol_id], [estado]) VALUES (3, N'Luis Chacón', N'chacon@uni.edu.pe ', N'clave123', 2, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Pedido__40F9A20657F3F58E]    Script Date: 27/06/2025 14:15:50 ******/
ALTER TABLE [dbo].[Pedido] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__2A586E0B81269B20]    Script Date: 27/06/2025 14:15:50 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComprobanteEntrega] ADD  DEFAULT (getdate()) FOR [fecha_generacion]
GO
ALTER TABLE [dbo].[HistorialEstadoPedido] ADD  DEFAULT (getdate()) FOR [fecha_cambio]
GO
ALTER TABLE [dbo].[Pedido] ADD  CONSTRAINT [DF_Pedido_Codigo]  DEFAULT ('') FOR [codigo]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT ((0)) FOR [es_entregado]
GO
ALTER TABLE [dbo].[ComprobanteEntrega]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[ComprobanteEntrega]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[HistorialEstadoPedido]  WITH CHECK ADD FOREIGN KEY([estado_anterior_id])
REFERENCES [dbo].[EstadoPedido] ([id])
GO
ALTER TABLE [dbo].[HistorialEstadoPedido]  WITH CHECK ADD FOREIGN KEY([estado_nuevo_id])
REFERENCES [dbo].[EstadoPedido] ([id])
GO
ALTER TABLE [dbo].[HistorialEstadoPedido]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[HistorialEstadoPedido]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([estado_id])
REFERENCES [dbo].[EstadoPedido] ([id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([operario_asignado_id])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([usuario_creador_id])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([rol_id])
REFERENCES [dbo].[Rol] ([id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [chk_fecha_confirmada] CHECK  (([fecha_entrega_confirmada] IS NULL OR [fecha_entrega_confirmada]>=[fecha_solicitud]))
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [chk_fecha_confirmada]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [chk_fecha_entrega_real] CHECK  (([fecha_entrega_real] IS NULL OR [fecha_entrega_real]>=[fecha_solicitud]))
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [chk_fecha_entrega_real]
GO
USE [master]
GO
